In [189]:
import pandas as pd
data=pd.read_csv("D:\Masters Studies\Fall 2016\CS - 548\Project 2\Default_Credit_Card - Category.csv",sep=",")
data.head()
data=data[[u'ID', u'LIMIT_BAL(X1)', u'SEX(X2)', u'EDUCATION(X3)', u'MARRIAGE(X4)',
       u'AGE(X5)', u'PAY_1(X6)', u'PAY_2(X7)', u'PAY_3(X8)', u'PAY_4(X9)',
       u'PAY_5(X10)', u'PAY_6(X11)', u'BILL_AMT1(X12)', u'BILL_AMT2(X13)',
       u'BILL_AMT3(X14)', u'BILL_AMT4(X15)', u'BILL_AMT5(X16)',
       u'BILL_AMT6(X17)',u'PAY_AMT2(X19)', u'PAY_AMT3(X20)',
       u'PAY_AMT4(X21)', u'PAY_AMT5(X22)','default_payment_next_month(Y)', u'PAY_AMT6(X23)',u'PAY_AMT1(X18)']]

data['EDUCATION(X3)']=data['EDUCATION(X3)'].replace([0,4,5,6],4)
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['Yes'],1)
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['No'],0)

In [74]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn import tree
from sklearn.metrics import mean_squared_error as ms
from math import sqrt
import time
start_time = time.time()
k_fold = KFold(n_splits=10)
clf = tree.DecisionTreeRegressor(min_samples_leaf=3,presort=True)
scr=[]
rootme=[]
for traindata, testdata in k_fold.split(data):
    clf.fit(data.iloc[traindata,1:24],data.iloc[traindata,24])
    scr.append(clf.score(data.iloc[testdata,1:24],data.iloc[testdata,24]))
    predicted=clf.predict(data.iloc[testdata,1:24])
    rootme.append(sqrt(ms(data.iloc[testdata,24],predicted)))
print('Scr=',sum(scr)/10)
print('Rootme=',sum(rootme)/10)
print("--- %s seconds ---" % (time.time() - start_time))

('Scr=', -0.34603260927760848)
('Rootme=', 20256.798815951057)
--- 33.4300000668 seconds ---

In [73]:
data.iloc[0:1,0:24]

,ID,LIMIT_BAL(X1),SEX(X2),EDUCATION(X3),MARRIAGE(X4),AGE(X5),PAY_1(X6),PAY_2(X7),PAY_3(X8),PAY_4(X9),...,BILL_AMT3(X14),BILL_AMT4(X15),BILL_AMT5(X16),BILL_AMT6(X17),PAY_AMT1(X18),PAY_AMT2(X19),PAY_AMT3(X20),PAY_AMT4(X21),PAY_AMT5(X22),default_payment_next_month(Y)
0,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,689,0,0,0,1

In [27]:
clf.tree_.capacity

12825L

In [52]:
import pandas as pd
data=pd.read_csv("D:\Masters Studies\Fall 2016\CS - 548\Project 2\Default_Credit_Card - Category.csv",sep=",")
data.head()
data=data[[u'LIMIT_BAL(X1)', u'SEX(X2)', u'EDUCATION(X3)', u'MARRIAGE(X4)',
        u'PAY_1(X6)', u'PAY_2(X7)', u'PAY_3(X8)', u'PAY_4(X9)',
       u'PAY_5(X10)', u'PAY_6(X11)', u'BILL_AMT1(X12)', u'BILL_AMT2(X13)',
       u'BILL_AMT3(X14)', u'BILL_AMT4(X15)', u'BILL_AMT5(X16)',
       u'BILL_AMT6(X17)', u'PAY_AMT2(X19)', u'PAY_AMT3(X20)',
       u'PAY_AMT4(X21)', u'PAY_AMT5(X22)', u'PAY_AMT6(X23)',
       u'default_payment_next_month(Y)',u'PAY_AMT1(X18)']]
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['Yes'],1)
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['No'],0)

In [42]:
data.iloc[0:1,0:23]

,LIMIT_BAL(X1),SEX(X2),EDUCATION(X3),MARRIAGE(X4),PAY_1(X6),PAY_2(X7),PAY_3(X8),PAY_4(X9),PAY_5(X10),PAY_6(X11),...,BILL_AMT4(X15),BILL_AMT5(X16),BILL_AMT6(X17),PAY_AMT2(X19),PAY_AMT3(X20),PAY_AMT4(X21),PAY_AMT5(X22),PAY_AMT6(X23),default_payment_next_month(Y),PAY_AMT1(X18)
0,20000,2,2,1,2,2,-1,-1,-2,-2,...,0,0,0,689,0,0,0,0,1,0

In [53]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn import tree
from sklearn.metrics import mean_squared_error as ms
from math import sqrt
import time
start_time = time.time()
k_fold = KFold(n_splits=10)
clf = tree.DecisionTreeRegressor(min_samples_leaf=3,presort=True)
scr=[]
rootme=[]
for traindata, testdata in k_fold.split(data):
    clf.fit(data.iloc[traindata,0:22],data.iloc[traindata,22])
    scr.append(clf.score(data.iloc[testdata,0:22],data.iloc[testdata,22]))
    predicted=clf.predict(data.iloc[testdata,0:22])
    rootme.append(sqrt(ms(data.iloc[testdata,22],predicted)))
print('Scr=',sum(scr)/10)
print('Rootme=',sum(rootme)/10)
print("--- %s seconds ---" % (time.time() - start_time))

('Scr=', 0.55493506405577864)
('Rootme=', 10729.815508468577)
--- 35.2230000496 seconds ---

,LIMIT_BAL(X1),SEX(X2),EDUCATION(X3),MARRIAGE(X4),PAY_1(X6),PAY_2(X7),PAY_3(X8),PAY_4(X9),PAY_5(X10),PAY_6(X11),...,BILL_AMT4(X15),BILL_AMT5(X16),BILL_AMT6(X17),PAY_AMT2(X19),PAY_AMT3(X20),PAY_AMT4(X21),PAY_AMT5(X22),PAY_AMT6(X23),default_payment_next_month(Y),PAY_AMT1(X18)
0,20000,2,2,1,2,2,-1,-1,-2,-2,...,0,0,0,689,0,0,0,0,Yes,0

In [75]:
import pandas as pd
data=pd.read_csv("D:\Masters Studies\Fall 2016\CS - 548\Project 2\Default_Credit_Card - Category.csv",sep=",")
data.head()
data=data[[u'ID', u'LIMIT_BAL(X1)', u'SEX(X2)', u'EDUCATION(X3)', u'MARRIAGE(X4)',
       u'AGE(X5)', u'PAY_1(X6)', u'PAY_2(X7)', u'PAY_3(X8)', u'PAY_4(X9)',
       u'PAY_5(X10)', u'PAY_6(X11)', u'BILL_AMT1(X12)', u'BILL_AMT2(X13)',
       u'BILL_AMT3(X14)', u'BILL_AMT4(X15)', u'BILL_AMT5(X16)',
       u'BILL_AMT6(X17)',u'PAY_AMT1(X18)', u'PAY_AMT2(X19)', u'PAY_AMT3(X20)',
       u'PAY_AMT4(X21)', u'PAY_AMT5(X22)',
       u'default_payment_next_month(Y)', u'PAY_AMT6(X23)']]
data['EDUCATION(X3)']=data['EDUCATION(X3)'].replace([0,4,5,6],4)
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['Yes'],1)
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['No'],0)

In [76]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn import linear_model
from sklearn.metrics import mean_squared_error as ms
from math import sqrt
import time
start_time = time.time()
k_fold = KFold(n_splits=10)
regr = linear_model.LinearRegression(normalize=True)
scr=[]
rootme=[]
for traindata, testdata in k_fold.split(data):
    regr.fit(data.iloc[traindata,0:24],data.iloc[traindata,24])
    scr.append(regr.score(data.iloc[testdata,0:24],data.iloc[testdata,24]))
    predicted=regr.predict(data.iloc[testdata,0:24])
    rootme.append(sqrt(ms(data.iloc[testdata,24],predicted)))
print('Scr=',sum(scr)/10)
print('Rootme=',sum(rootme)/10)
print(rootme)
print("--- %s seconds ---" % (time.time() - start_time))

('Scr=', 0.12794008994771713)
('Rootme=', 16437.65416682735)
[18219.42582814131, 16716.7594243768, 16492.79680932035, 16198.700409439265, 18460.703250827104, 12902.431235699689, 13874.970847793064, 16894.447206565455, 15681.917350067597, 18934.389306042867]
--- 0.443000078201 seconds ---

In [214]:
#Guiding 1

import pandas as pd
data=pd.read_csv("D:\Masters Studies\Fall 2016\CS - 548\Project 2\default of credit card clients_edit.csv",sep=",")
data.head()
data=data[[u'LIMIT_BAL', u'SEX', u'EDUCATION', u'MARRIAGE', u'AGE',
       u'PAY_0', u'PAY_2', u'PAY_3', u'PAY_4', u'PAY_5', u'PAY_6',
       u'Count of missed payments', u'BILL_AMT1', u'BILL_AMT2', u'BILL_AMT3',
       u'BILL_AMT4', u'BILL_AMT5', u'BILL_AMT6', u'TOTAL_BILL', 
       u'PAY_AMT2', u'PAY_AMT3', u'PAY_AMT4', u'PAY_AMT5',
       u'PAY_AMT6', u'default payment next month',u'PAY_AMT1']]
data['default payment next month']=data['default payment next month'].replace(['Yes'],1)
data['default payment next month']=data['default payment next month'].replace(['No'],0)

In [82]:
data.columns

Index([u'ID', u'LIMIT_BAL', u'SEX', u'EDUCATION', u'MARRIAGE', u'AGE',
       u'PAY_0', u'PAY_2', u'PAY_3', u'PAY_4', u'PAY_5', u'PAY_6',
       u'Count of missed payments', u'BILL_AMT1', u'BILL_AMT2', u'BILL_AMT3',
       u'BILL_AMT4', u'BILL_AMT5', u'BILL_AMT6', u'TOTAL_BILL', u'PAY_AMT1',
       u'PAY_AMT2', u'PAY_AMT3', u'PAY_AMT4', u'PAY_AMT5', u'TOTAL_PAID',
       u'PAY_AMT6', u'Difference', u'default payment next month'],
      dtype='object')

In [176]:
predict=[]
for x in range(0,len(prediction)):
    for y in range(0,3000):
        predict.append(prediction[x][y])

In [184]:

import matplotlib.pyplot as plt
plt.scatter(xaxis, data.iloc[:,25], alpha=0.5)
plt.title("Actual X18 Values")

plt.show()

In [186]:
data.columns

Index([u'ID', u'LIMIT_BAL(X1)', u'SEX(X2)', u'EDUCATION(X3)', u'MARRIAGE(X4)',
       u'AGE(X5)', u'PAY_1(X6)', u'PAY_2(X7)', u'PAY_3(X8)', u'PAY_4(X9)',
       u'PAY_5(X10)', u'PAY_6(X11)', u'BILL_AMT1(X12)', u'BILL_AMT2(X13)',
       u'BILL_AMT3(X14)', u'BILL_AMT4(X15)', u'BILL_AMT5(X16)',
       u'BILL_AMT6(X17)', u'PAY_AMT1(X18)', u'PAY_AMT2(X19)', u'PAY_AMT3(X20)',
       u'PAY_AMT4(X21)', u'PAY_AMT5(X22)', u'PAY_AMT6(X23)',
       u'default_payment_next_month(Y)'],
      dtype='object')

In [177]:
xaxis=[]
for y in range(1,30001):
    xaxis.append(y)

In [215]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn import linear_model
from sklearn.metrics import mean_squared_error as ms
from math import sqrt
import time
start_time = time.time()
k_fold = KFold(n_splits=10)
regr = linear_model.LinearRegression(normalize=True)
scr=[]
rootme=[]
prediction=[]
for traindata, testdata in k_fold.split(data):
    regr.fit(data.iloc[traindata,0:25],data.iloc[traindata,25])
    scr.append(regr.score(data.iloc[testdata,0:25],data.iloc[testdata,25]))
    predicted=regr.predict(data.iloc[testdata,0:25])
    prediction.append(predicted)
    rootme.append(sqrt(ms(data.iloc[testdata,25],predicted)))
print('Scr=',sum(scr)/10)
print('Rootme=',sum(rootme)/10)
print(scr)
print("--- %s seconds ---" % (time.time() - start_time))

('Scr=', 0.3528341315453053)
('Rootme=', 12896.303499296668)
[0.32948625009574783, 0.38736341415995323, 0.33801410548698413, 0.34533692909330482, 0.36777622096734908, 0.3442050418855177, 0.24842709674109242, 0.31811259516686308, 0.36963753272474842, 0.4799821291314923]
--- 0.496999979019 seconds ---

In [ ]:
regr.

In [115]:
area_dummies = pd.get_dummies(data.MARRIAGE, prefix='MARRIAGE').iloc[:, 1:]

# concatenate the dummy variable columns onto the original DataFrame (axis=0 means rows, axis=1 means columns)
data = pd.concat([data, area_dummies], axis=1)
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,Sex_2,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
0,20000,2,2,1,24,2,2,-1,-1,-2,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,120000,2,2,2,26,-1,2,0,0,0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,90000,2,2,2,34,0,0,0,0,0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,50000,2,2,1,37,0,0,0,0,0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,50000,1,2,1,57,-1,0,-1,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [217]:
import matplotlib.pyplot as plt
plt.plot(scr)
plt.title("Score for each fold Values")

plt.show()

In [124]:
data=data[[ u'BILL_AMT2', u'TOTAL_PAID',u'PAY_AMT1']]

In [195]:
#Socialllllllllllllll

import pandas as pd
data=pd.read_csv("D:\Masters Studies\Fall 2016\CS - 548\Project 2\Default_Credit_Card - Category.csv",sep=",")

data=data[[u'ID', u'LIMIT_BAL(X1)', u'PAY_1(X6)', u'PAY_2(X7)', u'PAY_3(X8)', u'PAY_4(X9)',
       u'PAY_5(X10)', u'PAY_6(X11)', u'BILL_AMT1(X12)', u'BILL_AMT2(X13)',
       u'BILL_AMT3(X14)', u'BILL_AMT4(X15)', u'BILL_AMT5(X16)',
       u'BILL_AMT6(X17)',  u'PAY_AMT2(X19)', u'PAY_AMT3(X20)',
       u'PAY_AMT4(X21)', u'PAY_AMT5(X22)', u'PAY_AMT6(X23)',
       u'default_payment_next_month(Y)',u'PAY_AMT1(X18)',]]
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['Yes'],1)
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['No'],0)
data.head()

,ID,LIMIT_BAL(X1),PAY_1(X6),PAY_2(X7),PAY_3(X8),PAY_4(X9),PAY_5(X10),PAY_6(X11),BILL_AMT1(X12),BILL_AMT2(X13),...,BILL_AMT4(X15),BILL_AMT5(X16),BILL_AMT6(X17),PAY_AMT2(X19),PAY_AMT3(X20),PAY_AMT4(X21),PAY_AMT5(X22),PAY_AMT6(X23),default_payment_next_month(Y),PAY_AMT1(X18)
0,1,20000,2,2,-1,-1,-2,-2,3913,3102,...,0,0,0,689,0,0,0,0,1,0
1,2,120000,-1,2,0,0,0,2,2682,1725,...,3272,3455,3261,1000,1000,1000,0,2000,1,0
2,3,90000,0,0,0,0,0,0,29239,14027,...,14331,14948,15549,1500,1000,1000,1000,5000,0,1518
3,4,50000,0,0,0,0,0,0,46990,48233,...,28314,28959,29547,2019,1200,1100,1069,1000,0,2000
4,5,50000,-1,0,-1,0,0,0,8617,5670,...,20940,19146,19131,36681,10000,9000,689,679,0,2000

In [212]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn import tree
from sklearn.metrics import mean_squared_error as ms
from math import sqrt
import time
start_time = time.time()
k_fold = KFold(n_splits=10)
clf = tree.DecisionTreeRegressor(min_samples_leaf=3,presort=True)
scr=[]
rootme=[]
for traindata, testdata in k_fold.split(data):
    clf.fit(data.iloc[traindata,0:19],data.iloc[traindata,19])
    scr.append(clf.score(data.iloc[testdata,0:19],data.iloc[testdata,19]))
    predicted=clf.predict(data.iloc[testdata,0:19])
    rootme.append(sqrt(ms(data.iloc[testdata,19],predicted)))
print('Scr=',sum(scr)/10)
print('Rootme=',sum(rootme)/10)
print("--- %s seconds ---" % (time.time() - start_time))

('Scr=', 0.657395888840131)
('Rootme=', 9489.191105847447)
--- 29.8159999847 seconds ---

In [213]:
clf.tree_.capacity

12925L

In [207]:
#guiding 2
import pandas as pd
data=pd.read_csv("D:\Masters Studies\Fall 2016\CS - 548\Project 2\Default_Credit_Card - Category.csv",sep=",")
data=data[[u'ID', u'LIMIT_BAL(X1)', u'SEX(X2)', u'EDUCATION(X3)', u'MARRIAGE(X4)',
       u'AGE(X5)', u'PAY_1(X6)', u'PAY_2(X7)', u'PAY_3(X8)', u'PAY_4(X9)',
       u'PAY_5(X10)', u'PAY_6(X11)', u'BILL_AMT1(X12)', u'BILL_AMT2(X13)',
       u'BILL_AMT3(X14)', u'BILL_AMT4(X15)', u'BILL_AMT5(X16)',
       u'BILL_AMT6(X17)','default_payment_next_month(Y)',u'PAY_AMT1(X18)']]
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['Yes'],1)
data['default_payment_next_month(Y)']=data['default_payment_next_month(Y)'].replace(['No'],0)